{% extends 'base.html' %}
{% load static %}

{% block content %}

  <!-- Main layout -->
  <main>
    <div class="container-fluid">

      <!-- Section: Inputs -->
      <section class="section card mb-5">
          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-lg-4 col-md-12 mb-4">

              <!-- Checkbox roxinho
              <fieldset class="form-check mt-4">
                <input class="form-check-input filled-in" type="checkbox" id="checkbox2" checked="checked">
                <label class="form-check-label" for="checkbox2">Filled-in checkbox</label>
              </fieldset>
              -->
            </div>
            <!-- Grid column -->

            <!-- Grid column -->

          </div>

        </div>

      </section>
      <!-- Section: Inputs -->

      <hr class="my-5">

      <!-- Section: Inputs -->
      <section class="section card mb-5">

        <div class="card-body">

          <!-- Formulário Inputs -->
          <h1 class="text-center my-5 h1">Cadastro de Equipamentos</h1>

          <!-- Forms com checkbox
          <h5 class="pb-5">Equipamento disponível?</h5>
          <fieldset class="form-check mt-4 form-check-inline">
            <input class="form-check-input filled-in" type="checkbox" id="checkbox3" checked="checked">
            <label class="form-check-label" for="checkbox3">Sim</label>
          </fieldset>

          <fieldset class="form-check mt-4 form-check-inline ">
            <input class="form-check-input filled-in" type="checkbox" id="checkbox4" checked="checked">
            <label class="form-check-label" for="checkbox4">Não</label>
          </fieldset>
          -->
          <h5 class="pb-5">Equipamento disponível?</h5>
          <fieldset class="form-check mb-4 form-check-inline">
            <input class="form-check-input" name="group1" type="radio" id="radio12" checked="checked">
            <label class="form-check-label" for="radio12">Sim</label>
           </fieldset>

          <fieldset class="form-check mb-4 form-check-inline ">
            <input class="form-check-input" name="group1" type="radio" id="radio13" checked="checked">
            <label class="form-check-label" for="radio13">Não</label>
           </fieldset>


          <!-- Grid linha -->
          <div class="row">
            <!-- Grid coluna -->
            <div class="col-md-4 mb-4">

              <div class="md-form md-outline">
                <input placeholder="8 números sem os zeros" type="text" id="form1-label" class="form-control">
                <label for="form1-label" class="active">PATRIMÔNIO</label>
              </div>

            </div>
            <!-- Grid coluna -->
            <div class="col-md-4 mb-4">

              <div class="md-form md-outline">
                <input placeholder="Ex: DELL 3410" type="text" id="form2-label" class="form-control">
                <label for="form2-label" class="active">MODELO</label>
              </div>

            </div>

            <div class="col-md-6 mb-4">

              <select class="custom-select">
                <option selected>Processador</option>
                <option value="1">i3</option>
                <option value="2">i5</option>
                <option value="3">i7</option>
                <option value="4">i9</option>
                <option value="5">M1</option>
              </select>

            </div>


              <!-- Coluna lado direito -->
            <div class="col-lg-4 col-md-6 mb-4">

              <select class="custom-select">
                <option selected>Memória</option>
                <option value="6">4gb</option>
                <option value="7">8gb</option>
                <option value="8">12gb</option>
                <option value="9">16gb</option>
                <option value="10">32gb</option>
              </select>

            </div>
            <!-- Grid coluna -->
            <div class="col-md-6 mb-4">
              <!-- Textarea with icon prefix
              <div class="md-form md-outline">
                <i class="fas fa-pencil-alt prefix"></i>
                <textarea type="text" id="form111" class="md-textarea form-control" rows="3"></textarea>
                <label for="form111">Icon Prefix</label>
              </div>

            </div> ICONE NO CAMPO :) -->
            <!-- Grid coluna -->
            <h5 class="pb-5">Equipamento Novo?</h5>
            <fieldset class="form-check mb-4 form-check-inline">
              <input class="form-check-input" name="group1" type="radio" id="radio14" checked="checked">
              <label class="form-check-label" for="radio14">Sim</label>
            </fieldset>

            <fieldset class="form-check mb-4 form-check-inline ">
              <input class="form-check-input" name="group1" type="radio" id="radio15" checked="checked">
              <label class="form-check-label" for="radio15">Não</label>
            </fieldset>
          </div>
          <!-- Grid linha -->
        </div>
      </section>
    </div>
  </main>
  <!-- Main layout -->


{% endblock %}