{% extends 'base.html' %}
{% load static %}

{% block content %}

  <!-- Main layout -->
  <main>
    <div class="container-fluid">

      <!-- Section: Inputs -->
      <section class="section card mb-5">

        <div class="card-body">

          <!-- Section heading -->
          <h1 class="text-center my-5 h1">Inputs</h1>

          <h5 class="pb-5">Input fields</h5>

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 mb-4">

              <div class="md-form">
                <input type="text" id="form1" class="form-control">
                <label for="form1" class="">Basic example</label>
              </div>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 mb-4">

              <div class="md-form form-sm">
                <input type="text" id="form2" class="form-control form-control-sm">
                <label for="form2" class="">Small input</label>
              </div>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 mb-4">

              <div class="md-form">
                <input placeholder="Placeholder" type="text" id="form3" class="form-control">
                <label for="form3" class="active">Example label</label>
              </div>

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mb-4">

              <div class="md-form">
                <input value="John Doe" type="text" id="form4" class="form-control">
                <label class="active" for="form4">Prefilling text inputs</label>
              </div>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-6 mb-4">

              <div class="md-form">
                <input type="text" id="form5" class="form-control" disabled>
                <label for="form5" class="disabled">Disabled input</label>
              </div>

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

          <!-- Grid row -->
          <div class="row text-left">

            <!-- Grid column -->
            <div class="col-md-6 mb-4">

              <!-- Email validation -->
              <div class="md-form">
                <i class="fas fa-envelope prefix"></i>
                <input type="email" id="form6" class="form-control validate">
                <label for="form6" data-error="wrong" data-success="right">Type your email</label>
              </div>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-6 mb-4">

              <!-- Password validation -->
              <div class="md-form">
                <i class="fas fa-lock prefix"></i>
                <input type="password" id="form7" class="form-control validate">
                <label for="form7" data-error="wrong" data-success="right">Type your password</label>
              </div>

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

          <h5 class="pb-5">Error or Success Messages</h5>

          <!-- Grid row -->
          <div class="row text-left">

            <!-- Grid column -->
            <div class="col-md-6 mb-4">

              <!-- Email validation -->
              <div class="md-form">
                <i class="fas fa-envelope prefix"></i>
                <input type="email" id="form8" class="form-control validate">
                <label for="form8" data-error="wrong" data-success="right">Type your email</label>
              </div>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-6 mb-4">

              <!-- Password validation -->
              <div class="md-form">
                <i class="fas fa-lock prefix"></i>
                <input type="password" id="form9" class="form-control validate">
                <label for="form9" data-error="wrong" data-success="right">Type your password</label>
              </div>

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

          <h5 class="pb-5">Textarea</h5>

          <!-- Grid row -->
          <div class="row text-left">

            <!-- Grid column -->
            <div class="col-md-6 mb-4">

              <!-- Basic textarea -->
              <div class="md-form">
                <textarea type="text" id="form10" class="md-textarea form-control" rows="3"></textarea>
                <label for="form10">Basic textarea</label>
              </div>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-6 mb-4">

              <!-- Textarea with icon prefix -->
              <div class="md-form">
                <i class="fas fa-pencil-alt prefix"></i>
                <textarea type="text" id="form11" class="md-textarea form-control" rows="3"></textarea>
                <label for="form11">Icon Prefix</label>
              </div>

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

          <h5 class="pb-5">Checkboxes and Radio</h5>

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-lg-4 col-md-12 mb-4">

              <fieldset class="form-check">
                <input class="form-check-input" type="checkbox" id="checkbox1" checked="checked">
                <label class="form-check-label" for="checkbox1">Classic checkbox</label>
              </fieldset>

              <fieldset class="form-check mt-4">
                <input class="form-check-input filled-in" type="checkbox" id="checkbox2" checked="checked">
                <label class="form-check-label" for="checkbox2">Filled-in checkbox</label>
              </fieldset>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-4 col-md-6 mb-4">

              <fieldset class="form-check mb-4">
                <input class="form-check-input" name="group1" type="radio" id="radio1" checked="checked">
                <label class="form-check-label" for="radio1">Option 1</label>
              </fieldset>

              <fieldset class="form-check mb-4">
                <input class="form-check-input" name="group1" type="radio" id="radio2">
                <label class="form-check-label" for="radio2">Option 2</label>
              </fieldset>

              <fieldset class="form-check mb-4">
                <input class="form-check-input" name="group1" type="radio" id="radio3">
                <label class="form-check-label" for="radio3">Option 3</label>
              </fieldset>

            </div>
          </div>

        </div>

      </section>
      <!-- Section: Inputs -->

      <hr class="my-5">

      <!-- Section: Inputs -->
      <section class="section card mb-5">

        <div class="card-body">

          <!-- Formulário Inputs -->
          <h1 class="text-center my-5 h1">Cadastro de Equipamentos</h1>

          <h5 class="pb-5">Formulário de Cadastro</h5>

          <!-- Grid linha -->
          <div class="row">
            <!-- Grid coluna -->
            <div class="col-md-4 mb-4">

              <div class="md-form md-outline">
                <input placeholder="8 números sem os zeros" type="text" id="form1-label" class="form-control">
                <label for="form1" class="active">PATRIMÔNIO</label>
              </div>

            </div>
            <!-- Grid coluna -->
            <div class="col-md-4 mb-4">

              <div class="md-form md-outline">
                <input placeholder="Ex: DELL 3410" type="text" id="form2-label" class="form-control">
                <label for="form2" class="active">MODELO</label>
              </div>

            </div>

            <div class="col-md-6 mb-4">

              <h5 class="pb-5">Processador</h5>
              <fieldset class="form-check mb-4">
                <input class="form-check-input" name="group1" type="radio" id="radio1-r" checked="checked">
                <label class="form-check-label" for="radio1">Option 1</label>
              </fieldset>

              <fieldset class="form-check mb-4">
                <input class="form-check-input" name="group1" type="radio" id="radio2-r">
                <label class="form-check-label" for="radio2">Option 2</label>
              </fieldset>

              <fieldset class="form-check mb-4">
                <input class="form-check-input" name="group1" type="radio" id="radio3-r">
                <label class="form-check-label" for="radio3">Option 3</label>
              </fieldset>

            </div>
            <!-- Grid coluna -->
            <div class="col-md-6 mb-4">
              <!-- Textarea with icon prefix
              <div class="md-form md-outline">
                <i class="fas fa-pencil-alt prefix"></i>
                <textarea type="text" id="form111" class="md-textarea form-control" rows="3"></textarea>
                <label for="form111">Icon Prefix</label>
              </div>

            </div> ICONE NO CAMPO :) -->
            <!-- Grid coluna -->
          </div>
          <!-- Grid linha -->
        </div>
      </section>
    </div>
  </main>
  <!-- Main layout -->


{% endblock %}