/*-- Classe dos selects --*/
.select-cadastro {
    display: inline-block;
    width: 40%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'><path fill='none' stroke='#{$form-select-indicator-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/></svg>");
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
/*-- fim da Classe dos selects --*/

/*-- Container Geral --*/
.container-fluid
    width:100%;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    -ms-flex-wrap:nowrap;
    flex-wrap:wrap;
    -ms-flex-align:center;
    align-items:center;
    -ms-flex-pack:justify;
    justify-content:space-between;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto;
    @media (min-width:768px);
/*-- Container Geral --*/

/*-- linha --*/
.row
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin-right:-15px;
    margin-left:-15px;
/*-- linha --*/

/*-- wrapper --*/
.wrapper {
    min-height: 100vh;
    position: relative;
    top: 0;
    height: 100vh;
    left: 0;
    background-color: white;

}
/*-- wrapper --*/

/*-- nav-show --*/
.nav-show .wrapper {
    left: 0;
    -webkit-transform: translate3d(-260px, 0, 0);
    -moz-transform: translate3d(-260px, 0, 0);
    -o-transform: translate3d(-260px, 0, 0);
    -ms-transform: translate3d(-260px, 0, 0);
    transform: translate3d(-260px, 0, 0);
/*-- nav-show --*/


/* NAVBAR */
body,
.wrapper {
    min-height: 100vh;
    position: relative;
}

.sidebar,
.main-panel {
    overflow: auto;
    max-height: 100%;
    height: 100%;
    -webkit-transition-property: top, bottom;
    transition-property: top, bottom;
    -webkit-transition-duration: .2s, .2s;
    transition-duration: .2s, .2s;
    -webkit-transition-timing-function: linear, linear;
    transition-timing-function: linear, linear;
    -webkit-overflow-scrolling: touch;
}